<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>10.2</string>
	<key>CFBundleDisplayName</key>
	<string>Родна Паметь</string>
	<key>CFBundleIdentifier</key>
	<string>com.rodnapamet.app</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>RodnaPamet</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Record audio</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Record audio</string>
	<key>UIAppFonts</key>
	<array>
		<string>Alegreya-Bold.ttf</string>
		<string>Alegreya-BoldItalic.ttf</string>
		<string>Alegreya-Italic.ttf</string>
		<string>PonomarUnicode.ttf</string>
		<string>Alegreya-Regular.ttf</string>
		<string>Alegreya-Medium.ttf</string>
		<string>Alegreya-MediumItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>NSUserTrackingUsageDescription</key>
	<string>The app allows you to make audio recordings and publish them online</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
	<key>UIRequiresFullScreen</key>
	<string>Yes</string>
</dict>
</plist>
